/* style.scss */
/* line 3, ../../../app/stylesheets/partials/custom.scss */
.container {
  width: 710px;
  margin: 0 auto;
}

/* line 8, ../../../app/stylesheets/partials/custom.scss */
body {
  background: #cff;
}

/* line 12, ../../../app/stylesheets/partials/custom.scss */
header {
  padding-top: 20px;
}
/* line 14, ../../../app/stylesheets/partials/custom.scss */
header img {
  padding: 1em;
  background: #fff;
}

/* line 20, ../../../app/stylesheets/partials/custom.scss */
section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20em;
  background: #fff;
}
/* line 25, ../../../app/stylesheets/partials/custom.scss */
section h1 {
  font-size: 200%;
}

/* Links */
/* line 32, ../../../app/stylesheets/partials/custom.scss */
a {
  color: #09c;
  text-decoration: none;
}
/* line 35, ../../../app/stylesheets/partials/custom.scss */
a:hover {
  color: #069;
  text-decoration: underline;
}
/* line 36, ../../../app/stylesheets/partials/custom.scss */
a:visited {
  color: #069;
}

/* Navigation */
/* line 41, ../../../app/stylesheets/partials/custom.scss */
nav {
  float: right;
  background-color: #fff;
  padding: 0 0.7em;
  white-space: nowrap;
}
/* line 46, ../../../app/stylesheets/partials/custom.scss */
nav ul {
  margin: 0;
  padding: 0;
}
/* line 50, ../../../app/stylesheets/partials/custom.scss */
nav li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}
/* line 54, ../../../app/stylesheets/partials/custom.scss */
nav li a {
  padding: 0 5px;
  font-weight: bold;
}
/* line 57, ../../../app/stylesheets/partials/custom.scss */
nav li a:visited {
  color: #09c;
}
/* line 58, ../../../app/stylesheets/partials/custom.scss */
nav li a:hover {
  text-decoration: underline;
}
